name: Acquia Tests

on:
  pull_request:
  workflow_dispatch:

jobs:
  leia-tests:
    runs-on: ${{ matrix.os }}
    env:
      TERM: xterm
      ACQUIA_API_KEY: ${{ secrets.ACQUIA_API_KEY }}
      ACQUIA_API_SECRET: ${{ secrets.ACQUIA_API_SECRET }}
      RUN_ID: ${{ github.sha }}${{ github.run_id }}${{ github.run_number }}
    strategy:
      fail-fast: false
      matrix:
        leia-tests:
          - acquia-custom
          - acquia-downstreamer-1
          - acquia-downstreamer-2
          - acquia-drush-uri
          - drupal
          - acquia-8.2
          - acquia-8.3
          - acquia-8.4
          - acquia-8.5
          - acquia-default
          - acquia-xdebug
        lando-version:
          - 3-stable
          - 3-edge
        os:
          - ubuntu-24.04
        node-version:
          - '20'

    steps:
      # Install deps and cache
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Install node ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
      - name: Install NPM dependencies
        run: npm clean-install --production --production --production --production --production --production --prefer-offline --frozen-lockfile
      - name: Bundle Deps
        uses: lando/prepare-release-action@v3
        with:
          lando-plugin: true
          version: dev
          sync: false
      - name: Setup lando ${{ matrix.lando-version }}
        uses: lando/setup-lando@v3
        with:
          lando-version: ${{ matrix.lando-version }}
          config: |
            setup.skipCommonPlugins=true
            setup.plugins.@lando/acquia=/home/runner/work/acquia/acquia
          telemetry: false
      - name: Run Leia Tests
        uses: lando/run-leia-action@v2
        with:
          leia-test: "./examples/${{ matrix.leia-tests }}/README.md"
          cleanup-header: "Destroy tests"
          shell: bash
          stdin: true
